/* page layout */
#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 60vh;
  /* max-width: 1280px;
  margin: 0 auto;
  text-align: center; */
}

#root > header {
  padding: 1em;
  border-bottom: 1px solid #666;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card {
  padding: 2em;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* PDF conversation styles */

label.sr-only {
  position: absolute;
  left: -10000px;
}

.chat-filename {
  margin: 1em 0;
  text-align: left;
}

.chat-form {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.chat-form textarea {
  width: 80%;
  flex-grow: 8;
  padding: 0.5em;
  font-size: 1em;
}

.chat-messages {
  flex: 1;
  text-align: left;
  overflow-y: auto;
  margin: 0;
  border: 1px solid #666;
  padding: 1em;
  min-width: 80vw;
  max-height: 64vh;
}

.chat-message {
  border: 1px solid #eee;
  border-radius: 12px;
  width: 80%;
  padding: 1em;
  margin-bottom: 2em;
}

.chat-message.role-user {
  background-color: #333;
  align-self: flex-end;
  margin-left: auto;
  border-bottom-left-radius: 0;
}

.chat-message.role-system {
  background-color: #666;
  align-self: flex-start;
  margin-right: auto;
  border-bottom-right-radius: 0;
}

.chat-message.role-assistant {
  border-bottom-right-radius: 0;
}

.chat-error {
  color: red;
  margin-top: 1em;
}

/* Upload form styles */
.file-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  font-size: 125%;
  width: 80%;
}

.upload-form {
  display: flex;
  column-gap: 1em;
  align-items: center;
}

.upload-form input[type='file'] {
  flex-grow: 1;
  max-width: 50%;
}
